<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arbitraje y partición - Abarca Zañartu Abogados</title>
    <link rel="stylesheet" href="../styles.css">
    <link rel="icon" href="../images/favicon.ico">

</head>
<body>
    <header>
        <!-- <h1 class="logo">A<span style="color:rgb(110, 110, 110); font-size: 80%;">&</span>Z<span style="color:grey; font-size: 80%;"></span></h1> -->
        <a href="../index.html">
            <h1 class="logo">A<span style="color: grey; font-size: 80%;">&</span>Z<span style="font-size: 60%; font-weight: 100;"> Abogados</span></h1>
        </a>

        <nav>
            <ul>
                <li><a href="../index.html">INICIO</a></li>
                <li><a href="../index2.html">INICIO 2</a></li>
                <li><a href="nuestro_estudio.html">NUESTRO ESTUDIO</a></li>
                <li><a href="areas.html">ÁREAS DE PRÁCTICA</a></li>
                <li><a href="arbitraje_particion.html">ARBITRAJE Y PARTICIÓN</a></li>
                <li><a href="equipo.html">EQUIPO</a></li>
                <li><a href="contacto.html">CONTACTO</a></li>
            </ul>
        </nav>
    </header>


    <main>
        <div class="portada-container">
            <!-- <img src="./images/view1.png" alt="portada" class="portada"> -->
            <img src="../images/view1.png" alt="portada" class="img-portada">
            <h1 class="texto-portada" style="font-size: 4rem;">Arbitraje y Partición</h1>
        </div>



        <div class="nosotros-container">
            <h2>Mediación y arbitraje para partición de comunidad hereditaria</h2>
            En Chile, al fallecer una persona, sus bienes son transferidos a los herederos en comunidad. <br><br>
            Esto quiere decir que, para hacerse efectivamente de ellos, los herederos tendrán que partir dicha comunidad. Para ello, existen dos caminos: la partición de común acuerdo o el juicio de partición ante juez árbitro. <br><br>
            Solo una vez designado el arbitro comenzará el juicio de partición. La ley regula dicho juicio considerando para él un plazo de dos años, el que normalmente se prorroga a uno o dos más.<br><br>
            Como la partición de común acuerdo suele ser compleja, las comunidades hereditarias tienden a solicitar la partición en tribunales. El juicio de partición ante juez árbitro comienza en los tribunales civiles, con la presentación de una demanda sumaria para la designación del juez arbitro. El procedimiento de designación de arbitro dura aproximadamente entre seis meses y un año. Esto solo para decidir quien será el juez arbitro que llevará la causa. <br><br>
            En Abarca Zañartu ofrecemos un procedimiento arbitral particular simplificado para la partición de la comunidad. <br><br>
            El procedimiento se asemeja al determinado por la ley, pero al hacerlo de forma particular, es más rápido y menos costoso. Si bien aceptamos que las partes contraten sus abogados privados, recomendamos el trato directo, pues nos preocupamos particularmente de garantizar los derechos de cada una de las partes. <br><br>
            Sumada a la amplia experiencia en Juicio de Partición, contamos con experiencia y estudios en mediación familiar y de conflictos públicos, por lo que tenemos las herramientas para solucionar rápidamente los entorpecimientos que se puedan provocar a la hora de liquidar la comunidad hereditaria. <br><br>
            Te invitamos a consultar directamente con nosotros. 
        </div>
    </main>



















    <footer>
        <p>2024  &copy; Todos los derechos reservados.</p>
        <a href="ejemplos.html">**EJEMPLOS**</a>
    </footer>
</body>
</html>

