<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Áreas de práctica - Abarca Zañartu Abogados</title>
    <link rel="stylesheet" href="../styles.css">
    <link rel="icon" href="../images/favicon.ico">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playfair+Display:wght@400..900&display=swap');
    </style>

</head>
<body>
    <div class="top-nav"></div>
    
    <header>
        <a class="logo-container" href="../index.html">
            <img src="../images/logo.png" alt="logo" class="img-logo">
        </a>

        <nav>
            <ul>
                <li><a href="../index.html">INICIO</a></li>
                <!-- <li><a href="../index2.html">INICIO 2</a></li> -->
                <li><a href="nuestro_estudio.html">NUESTRO ESTUDIO</a></li>
                <li><a href="areas.html">ÁREAS DE PRÁCTICA</a></li>
                <li><a href="arbitraje_particion.html">ARBITRAJE Y PARTICIÓN</a></li>
                <li><a href="equipo.html">EQUIPO</a></li>
                <li><a href="contacto.html">CONTACTO</a></li>
            </ul>
        </nav>
    </header>









    <main>
        <div class="portada-container">
            <img src="../images/areas-portada.JPG" alt="portada" class="img-portada">
            <h1 class="texto-portada texto-portada-secundario">Áreas de Práctica</h1>
        </div>



        <div class="areas-container">

            <div class="area-card">
                <img class="area-img" src="../images/areas/Arbitrajes.webp" alt="">
                <div class="area-card-text">
                    <h3>Arbitraje</h3>
                    <p>José Antonio Abarca Moraga es Juez Arbitro nombrado por la Ilustrísima Corte de Apelaciones desde el año 2017, por lo que recibe causas de partición desde los Tribunales Civiles de Santiago.</p>
                    <p>Abarca Zañartu tramita además otros procedimientos arbitrales, destacando el procedimiento simplificado de división de herencia.</p>
                </div>
            </div>
            <div class="area-card">
                <img class="area-img" src="../images/areas/Civil.webp" alt="">
                <div class="area-card-text">
                    <h3>Civil</h3>
                    <ul>
                        <li>Juicios de partición</li>
                        <li>Compra venta de inmuebles</li>
                        <li>Estudios de título</li>
                        <li>Cobranza</li>
                        <li>Juicios de arrendamiento</li>
                        <li>Procedimientos civiles varios</li>
                        <li>Regularización de la pequeña propiedad raíz</li>
                    </ul>
                </div>
            </div>
            <div class="area-card">
                <img class="area-img" src="../images/areas/Familia.webp" alt="">
                <div class="area-card-text">
                    <h3>Familia</h3>
                    <ul>
                        <li>Divorcios</li>
                        <li>Tutela, Cuidado Personal y Visitas de menores</li>
                        <li>Pensión Alimenticia</li>
                    </ul>
                </div>
            </div>
            <div class="area-card">
                <img class="area-img" src="../images/areas/Enviromental.png" alt="">
                <div class="area-card-text">
                    <h3>Ambiental</h3>
                    <ul>
                        <li>Obtención de Permisos Ambientales</li>
                        <li>Obtención de Permisos Sectoriales</li>
                        <li>Demanda de Daño Ambiental</li>
                        <li>Procedimientos Sancionatorios</li>
                    </ul>
                </div>
            </div>
            <div class="area-card">
                <img class="area-img" src="../images/areas/Laboral.webp" alt="">
                <div class="area-card-text">
                    <h3>Laboral</h3>
                    <ul>
                        <li>Asesoría a empresas</li>
                        <li>Demanda de Despido Injustificado</li>
                        <li>Demanda de Cobro de Finiquito</li>
                        <li>Demanda por Vulneración de Derechos</li>
                    </ul>
                </div>
            </div>
            <div class="area-card">
                <img class="area-img" src="../images/areas/Corporativo.webp" alt="">
                <div class="area-card-text">
                    <h3>Corporativo</h3>
                    <ul>
                        <li>Creación y modificación de sociedades</li>
                        <li>Contratos </li>
                    </ul>
                </div>
            </div>
            <div class="area-card">
                <img class="area-img" src="../images/areas/Penal.webp" alt="">
                <div class="area-card-text">
                    <h3>Penal</h3>
                    <ul>
                        <li>Tramitación de Querella</li>
                        <li>Defensa temprana del imputado</li>
                    </ul>
                </div>
            </div>


             

        </div>









        <!-- ASESÓRATE CON NOSOTROS -->
        <div class="asesorate-container">
            <h1>Asesórate con nosotros</h1>
            <p>Diligencia y confidencialidad.</p>
            <a href="../templates/contacto.html"><div class="btn-contacto">Contacto</div></a>
         </div>



        
    </main>

























    <footer>
        <p>2024  &copy; Todos los derechos reservados.</p>
    </footer>
</body>
</html>

