<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto - Abarca Zañartu Abogados</title>
    <link rel="stylesheet" href="../styles.css">
    <link rel="icon" href="../images/favicon.ico">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playfair+Display:wght@400..900&display=swap');
    </style>

</head>
<body>
    <div class="top-nav"></div>

    <header>
        <a class="logo-container" href="../index.html">
            <img src="../images/logo.png" alt="logo" class="img-logo">
        </a>

        <nav>
            <ul>
                <li><a href="../index.html">INICIO</a></li>
                <!-- <li><a href="../index2.html">INICIO 2</a></li> -->
                <li><a href="nuestro_estudio.html">NUESTRO ESTUDIO</a></li>
                <li><a href="areas.html">ÁREAS DE PRÁCTICA</a></li>
                <li><a href="arbitraje_particion.html">ARBITRAJE Y PARTICIÓN</a></li>
                <li><a href="equipo.html">EQUIPO</a></li>
                <li><a href="contacto.html">CONTACTO</a></li>
            </ul>
        </nav>
    </header>








    <main>
        <div class="nosotros-container">
            <h1>Contacto</h1>
        </div>
    </main>





















    
    <footer>
        <p>2024  &copy; Todos los derechos reservados.</p>
    </footer>
</body>
</html>

