<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestro Estudio - Abarca Zañartu Abogados</title>
    <!-- <link rel="stylesheet" href="../styles.css"> -->
    <link rel="stylesheet" href="../newcss.css">

    <script src="../scripts.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="../images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../images/icons/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playfair+Display:wght@400..900&display=swap');
    </style>

</head>
<body>
    <div class="top-nav"></div>

    <div class="navbar">
        <a href="../index.html" class="logo-container">
            <img src="../images/logo.png" alt="logo" class="img-logo">
        </a>
        
        <button class="hamburger" id="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </button>
      
        <nav class="nav-menu" id="nav-menu">
            <ul>
                <li><a href="../index.html">INICIO</a></li>
                <li><a href="nuestro_estudio.html">NUESTRO ESTUDIO</a></li>
                <li><a href="areas.html">ÁREAS DE PRÁCTICA</a></li>
                <li><a href="arbitraje_particion.html">ARBITRAJE Y PARTICIÓN</a></li>
                <li><a href="equipo.html">EQUIPO</a></li>
                <li><a href="contacto.html">CONTACTO</a></li>
            </ul>
        </nav>
    </div>


    <main>
        <div class="portada-container">
            <!-- <img src="../images/nuestro_estudio.jpg" alt="portada" class="img-portada"> -->
            <picture>
                <source media="(max-width: 600px)" srcset="../images/portadas/estudio_portada_mobile.jpg">
                <source media="(min-width: 601px)" srcset="../images/portadas/estudio_portada.jpg">
                <img src="../images/portadas/estudio_portada.jpg" alt="Header Image" class="img-portada">
            </picture>
            <h1 class="texto-portada ">Nuestro Estudio</h1>
        </div>
        
        <div class="estudio-container">
            <p class="estudio-highlight"><strong class="main-color">Abarca Zañartu es un estudio jurídico boutique, dedicado al asesoramiento íntegro y personalizado de sus clientes.</strong></p>
            
            <div class="estudio-timeline">
                <div class="estudio-timeline-item">
                    <p><strong>2007:</strong> Fundación del estudio Abarca Abogados.</p>
                </div>
                <div class="estudio-timeline-item">
                    <p><strong>2017:</strong> José Antonio es nombrado Juez Árbitro por la Ilustrísima Corte de Apelaciones de Santiago.</p>
                </div>
                <div class="estudio-timeline-item">
                    <p><strong>2022:</strong> Beltrán Zañartu se une al equipo jurídico de Abarca Abogados.</p>
                </div>
                <div class="estudio-timeline-item">
                    <p><strong>2023:</strong> Beltrán Zañartu es invitado a ser socio. Se funda Abarca Zañartu Abogados.</p>
                </div>
                <div class="estudio-timeline-item">
                    <p><strong>Actualidad:</strong> Asesoramos a empresas y grupos familiares en aspectos de derecho civil, de familia, ambiental, laboral, corporativo y penal, de forma cercana y prolija.</p>
                </div>

            </div>
            
            <p><strong>Nuestra especialidad:</strong> Llevamos causas arbitrales, destacándose la asesoría en división de la comunidad hereditaria.</p>
            
            <p>En Abarca Zañartu tenemos un trato personalizado y directo con cada uno de nuestros representados. Creemos firmemente en que cada cliente debe tener un espacio relevante en el estudio, pues es la única forma de asegurar un trabajo atento y profesional en cada uno de sus trámites jurídicos.</p>
        </div>

        <!-- ASESÓRATE CON NOSOTROS -->
        <section class="asesorate-container">
            <div class="asesorate-content">
                <h2>Asesórate con nosotros</h2>
                <p>Experiencia, diligencia y confidencialidad a tu servicio.</p>
                <a href="../templates/contacto.html" class="btn-contacto">CONTACTO</a>
            </div>
        </section>
    </main>






    <footer class="footer">
        <div class="footer-content">
          <div class="footer-logo">
            <a href="../index.html">
              <img src="../images/logo-s.png" alt="Abarca Zañartu Abogados" class="footer-img-logo">
            </a>
          </div>
          <div class="footer-links">
            <h4>Enlaces Rápidos</h4>
            <ul>
              <li><a href="./nuestro_estudio.html">Nuestro Estudio</a></li>
              <li><a href="./areas.html">Áreas de Práctica</a></li>
              <li><a href="./arbitraje_particion.html">Arbitraje y Partición</a></li>
              <li><a href="./equipo.html">Equipo</a></li>
              <li><a href="./contacto.html">Contacto</a></li>
            </ul>
          </div>
          <div class="footer-contact">
            <h4>Contáctanos</h4>
            <p>Email: contacto@abarcazanartu.cl</p>
            <p>+569 66578170</p>
            <p>+569 92214351</p>
            <p>Dirección: Av. Americo Vespucio Norte 958, Las Condes, Oficina 1102</p>
          </div>
        </div>
      </footer>
</body>
</html>

