<div class="nosotros-container">
    <h1>Nosotros</h1>
    <p class="nosotros-texto">Abarca Zañartu es un estudio jurídico boutique, dedicado al asesoramiento íntegro y personalizado de sus clientes. </p>
    <p class="nosotros-texto">Fue fundado el año 2007 por José Antonio Abarca Moraga, quien hasta entonces había trabajado en el Poder Judicial, desempeñando su carrera en Juzgados de Policía Local, desde funcionario administrativo hasta el cargo de Secretario y Juez (S). </p>
    <p class="nosotros-texto">Hoy en día funciona asesorando empresas y grupos familiares en aspectos de derecho civil, comercial, familia, laboral, regulatorio y ambiental, de forma cercana y prolija. </p>
    <p class="nosotros-texto">Además, llevamos causas arbitrales, destacándose la asesoría en división de la comunidad hereditaria.</p>
    <p class="nosotros-texto">En Abarca Zañartu llevamos un trato personalizado y directo con cada uno de nuestros representados. Creemos firmemente en que cada cliente debe tener un espacio relevante en el estudio, pues es la única forma de asegurar un trabajo atento y profesional en cada uno de sus trámites jurídicos.</p>
</div>